<h1>Аутентификация</h1>
<form method="POST" action="/login">
	Логин: <input type="text" name="username">
	Пароль: <input type="password" name="password">
	запомнить меня <input type="checkbox" name="rem">
	<input type="submit" value="Войти">
</form>	
<a href="/auth/facebook">
	<button>Авторизация через Facebook</button>
</a>